@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Avenir-Bold';
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }
body {
  min-height: 100vh;
  padding: 0;
  margin: 0; }
  body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Avenir, Arial, serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  margin: 0; }

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  button:focus {
    outline: none; }

.link {
  color: #000;
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0); }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.catalog__upper-image {
  width: 100%;
  height: auto;
  margin: 0 0 35px; }
.catalog__list-wrapper {
  position: relative;
  max-width: 716px;
  margin: 0 auto; }
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  padding: 5px 0 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  overflow: hidden; }
  @media (max-width: 767px) {
    .catalog__list {
      padding: 0 40px; } }
  .catalog__list.isActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    opacity: 1; }
    @media (max-width: 767px) {
      .catalog__list.isActive {
        margin: 0 0 25px; } }
.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px; }
  @media (max-width: 767px) {
    .catalog__item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 50%;
      margin: 0 0 30px; } }
  @media (max-width: 649px) {
    .catalog__item {
      width: 100%; } }
  .catalog__item:not(:nth-child(3n)) {
    width: 35%; }
    @media (max-width: 767px) {
      .catalog__item:not(:nth-child(3n)) {
        width: 50%; } }
    @media (max-width: 649px) {
      .catalog__item:not(:nth-child(3n)) {
        width: 100%; } }
.catalog__item-link {
  display: block;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }
  .catalog__item-link:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px); }
  .catalog__item-link:active {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    opacity: 0.75; }
.catalog__item-image {
  max-width: 100%;
  height: auto;
  margin: 0 0 5px; }
.catalog__item-description {
  padding: 0 5px 0 0;
  font-size: 14px; }
.catalog__item-description-bold {
  display: block;
  padding: 0 10px;
  text-align: center;
  font-family: Avenir-Bold, Arial, sans-serif;
  font-size: 14px; }

.tabs {
  margin: 0 0 35px;
  text-align: center; }
  @media (max-width: 767px) {
    .tabs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 15px; } }
  .tabs__tab {
    margin: 0 40px;
    color: #000;
    font-size: 28px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom-color 200ms ease-in-out, opacity 200ms ease-in-out;
    -o-transition: border-bottom-color 200ms ease-in-out, opacity 200ms ease-in-out;
    transition: border-bottom-color 200ms ease-in-out, opacity 200ms ease-in-out; }
    .tabs__tab:hover {
      opacity: 0.7; }
    .tabs__tab:active {
      opacity: 0.5; }
    @media (max-width: 767px) {
      .tabs__tab {
        margin: 0 20px;
        font-size: 12px; } }
    .tabs__tab.activeTab {
      border-bottom: 2px solid #000; }

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .subscribe {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .subscribe__part-left {
    width: 65%; }
    @media (max-width: 767px) {
      .subscribe__part-left {
        width: 100%;
        margin: 0 0 15px; } }
  .subscribe__part-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%; }
    @media (max-width: 767px) {
      .subscribe__part-right {
        width: 100%;
        margin: 0 0 55px; } }
  .subscribe__right-inner {
    width: 120px;
    margin: auto;
    text-align: center; }
    @media (max-width: 767px) {
      .subscribe__right-inner {
        width: 100%; } }
  .subscribe__image {
    width: 100%;
    height: 100%; }
  .subscribe__text {
    margin: 0 0 5px;
    font-size: 14px; }
    @media (max-width: 767px) {
      .subscribe__text {
        margin: 0 0 15px; } }

.button {
  display: inline-block;
  vertical-align: middle;
  min-height: 32px;
  color: #000;
  text-decoration: none;
  line-height: 32px;
  padding: 0 10px;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #979797;
  -webkit-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, opacity 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out, opacity 200ms ease-in-out; }
  .button:hover {
    color: #ffffff;
    background-color: #979797; }
  .button:active {
    opacity: 0.7; }
  @media (max-width: 767px) {
    .button {
      width: 240px;
      margin: 0 auto; } }

.footer {
  border: 1px solid #979797;
  border-bottom-color: #d8d8d8;
  background-color: #d8d8d8; }
  @media (max-width: 767px) {
    .footer {
      border: none; } }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    padding: 40px 100px 55px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .footer__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px 40px; } }
  .footer__part {
    width: 50%; }
    @media (max-width: 767px) {
      .footer__part {
        width: 100%; } }
    @media (max-width: 767px) {
      .footer__part--left {
        margin: 0 0 40px;
        text-align: center; } }
    .footer__part--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media (max-width: 767px) {
        .footer__part--right {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
  .footer__form {
    text-align: left; }
  .footer__text {
    width: 82%;
    padding: 0 35px 0 0;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px; }
    @media (max-width: 767px) {
      .footer__text {
        width: auto;
        padding: 0; } }
  .footer__menu-list:not(:first-child) {
    margin: 0 0 0 30px; }
  .footer__menu-header {
    margin: 0 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800; }
  .footer__menu-link {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
    .footer__menu-link:hover {
      opacity: 0.7; }
    .footer__menu-link:active {
      opacity: 0.5; }

.input {
  width: 82%;
  height: 40px;
  padding: 0 15px;
  margin: 0 0 10px;
  line-height: 40px;
  border: 1px solid #979797;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  outline: none;
  -webkit-transition: border-color 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: border-color 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out; }
  @media (max-width: 767px) {
    .input {
      width: 240px; } }
  .input::-webkit-input-placeholder {
    color: #000; }
  .input:-ms-input-placeholder {
    color: #000; }
  .input::-ms-input-placeholder {
    color: #000; }
  .input::placeholder {
    color: #000; }
  .input:focus {
    border-color: #4a90e2;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .input.isError {
    border-color: #d0021b; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 520px;
  max-height: 50vh;
  padding: 35px 40px 45px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #979797;
  -webkit-transform: translate3d(-50%, -300%, 0);
  transform: translate3d(-50%, -300%, 0);
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  overflow-y: auto; }
  @media (max-width: 767px) {
    .popup {
      width: 100%;
      max-width: 350px;
      padding: 20px 15px 25px; } }
  .popup.isActive {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  .popup__close-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffffff;
    -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out; }
    .popup__close-wrapper:hover {
      opacity: 0.7; }
    .popup__close-wrapper:active {
      opacity: 0.5; }
    @media (max-width: 767px) {
      .popup__close-wrapper {
        height: 12px;
        line-height: 0; } }
  .popup__close {
    width: 22px;
    height: 22px;
    padding: 0;
    vertical-align: middle;
    line-height: 0;
    font-size: 0;
    border: none; }
    @media (max-width: 767px) {
      .popup__close {
        width: 12px;
        height: 12px; } }
  .popup__header {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .popup__header {
        font-size: 14px;
        margin: 0 35px 15px; } }
  .popup__text {
    font-size: 18px;
    margin: 0 0 65px; }
    @media (max-width: 767px) {
      .popup__text {
        font-size: 12px;
        line-height: 1.2;
        margin: 0 0 25px; } }
  .popup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      .popup__form {
        margin: 0 10px; } }
  .popup__input {
    min-width: 240px;
    height: 64px;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #2750a8; }
    .popup__input::-webkit-input-placeholder {
      position: relative;
      color: #2750a8;
      text-transform: uppercase; }
    .popup__input:-ms-input-placeholder {
      position: relative;
      color: #2750a8;
      text-transform: uppercase; }
    .popup__input::-ms-input-placeholder {
      position: relative;
      color: #2750a8;
      text-transform: uppercase; }
    .popup__input::placeholder {
      position: relative;
      color: #2750a8;
      text-transform: uppercase; }
    @media (max-width: 767px) {
      .popup__input {
        min-width: 0;
        width: 100%;
        height: 40px;
        padding: 0 20px; } }
  .popup__button {
    height: 64px;
    line-height: 64px;
    padding: 0 45px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2750a8;
    border: none;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
    @media (max-width: 767px) {
      .popup__button {
        width: auto;
        height: 40px;
        line-height: 40px;
        padding: 0 26px;
        font-size: 14px; } }
    .popup__button:hover {
      background-color: #2750a8;
      opacity: 0.8; }
    .popup__button:active {
      opacity: 0.6; }

/*# sourceMappingURL=styles.css.map */
